<!DOCTYPE html>
<html>
<head th:replace="fragments/basic :: head"></head>
<body>

<div class="card shadow text-center" th:fragment="card(title, description, image, votesUp, votesDown)" style="width: 100%; height: 90%">
  <div class="card-header d-flex justify-content-around" style="height: 4rem; overflow: hidden;">
    <button class="btn btn-success" th:text="${votesUp}"></button>
    <span class="fw-bold" th:text="${title}"></span>
    <button class="btn btn-danger" th:text="${votesDown}"></button>
  </div>
  <div class="card-body" style="overflow:hidden;">
      <img th:src="'data:image/png;base64,' + ${image}" class="image" alt="cadidate image">
    <div class="text-container bg-ligth">
      <p class="card-text text" th:text="${description}"></p>
    </div>
  </div>
</div>
</body>
</html>