<!DOCTYPE html>
<html>
<head th:replace="fragments/basic :: head"></head>
<body>

<div th:fragment="admin" class="container-fluid px-5 d-flex flex-column justify-content-center" style="height: 88vh;">
    <div class="m-0" style="height: 50vh;
        overflow-x: hidden;
        overflow-y: scroll;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat( auto-fit, minmax(16rem, 1fr) );">
        <div class="px-3 d-flex flex-column justify-content-center" th:each="candidate: ${candidates}" style="width: 20%rem; min-width: 16rem;">
            <div th:replace="fragments/cards :: card(${candidate.id}, ${candidate.title}, ${candidate.description}, ${candidate.image}, ${candidate.imageType}, ${candidate.votesUp}, ${candidate.votesDown})"></div>
        </div>
    </div>
    <hr>
    <div class="row justify-content-evenly">
        <div id="editCandidateFlag" th:text="${editModal}" hidden></div>
        <div th:replace="fragments/tables :: users"></div>
        <div th:replace="fragments/tables :: candidates"></div>
    </div>
    <div th:replace="fragments/modals :: addUserModal"></div>
    <div th:replace="fragments/modals :: addCandidateModal"></div>
    <div th:replace="fragments/modals :: editCandidateModal"></div>
</div>

<div th:fragment="user" class="container-fluid px-5 d-flex flex-column justify-content-center" style="height: 90vh;">
    <div style="height: 50vh; overflow: hidden">
        <h5 class="text-muted">Todos los candidatos</h5>
        <div class="m-0" style="height: 50vh; overflow: scroll;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat( auto-fit, minmax(16rem, 1fr) );">
            <div class="px-3 d-flex flex-column justify-content-center" th:each="candidate: ${candidates}" style="width: 19%rem; min-width: 16rem; max-width: 21%">
                <div th:replace="fragments/cards :: card(${candidate.id}, ${candidate.title}, ${candidate.description}, ${candidate.image}, ${candidate.imageType}, ${candidate.votesUp}, ${candidate.votesDown})"></div>
            </div>
        </div>
    </div>
    <hr>
    <div style="height: 26vh; overflow: hidden">
        <h5 class="text-muted">Tus candidatos</h5>
        <div class="m-0" style="height: 25vh; overflow: scroll;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat( auto-fit, minmax(16rem, 1fr) );">
            <div class="px-3 d-flex flex-column justify-content-center" th:each="candidate: ${currentUser.getCandidate()}" style="width: 19%rem; min-width: 16rem; max-width: 21%">
                <div th:replace="fragments/cards :: card(${candidate.id}, ${candidate.title}, ${candidate.description}, ${candidate.image}, ${candidate.imageType},  ${candidate.votesUp}, ${candidate.votesDown})"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>