<!DOCTYPE html>
<html>
<head th:replace="fragments/basic :: head"></head>
<body>
<header th:replace="fragments/basic :: header"></header>
<body>
<div style="width: 45rem; max-width: 95%; height: 80vh; display: flex; flex-direction: column; justify-content: center; margin: 0 auto;">
    <h2 class="text-center" id="staticBackdropLabel">Editar Candidato</h2>
    <form th:action="@{/candidates/edit}" method="POST" th:object="${candidate}" class="mx-auto px-3" enctype="multipart/form-data">
        <input id="id" name="id" th:field="*{id}" hidden></input>
        <div class="mb-3 row">
            <label for="username" class="col-12 col-form-label">Nombre Candidato</label>
            <div class="col-12">
                <input class="form-control" type="text" id="title" name="title" placeholder="Ingrese el nombre del candidato" th:field="*{title}" required>
                <span class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Error en el nombre del candidato</span>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="description" class="col-12 col-form-label">Descripcion</label>
            <div class="col-12">
                <input class="form-control" type="text" id="description" name="descricption" placeholder="Ingrese una descripcion para el candidato" th:field="*{description}" required>
                <span class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Error en la descripcion del candidato</span>
            </div>
        </div>
        <div class="d-block text-center mt-5">
            <a type="button" class="btn btn-secondary" th:href="@{/home}">Cancelar</a>
            <input class="btn btn-warning" type="submit" value="Guardar">
        </div>
    </form>
</div>


<footer th:replace="fragments/basic :: footer"></footer>
</body>
</html>