<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/basic :: head"></head>
<body>
    <div style="display: flex; flex-direction: column; justify-content: center; height: 100vh; gap: 2rem">
        <h1 class="text-center my-4">Registro</h1>
        <div class="container px-2" style="width: 40rem; max-width: 95%;">
            <form th:action="@{/users/register}" method="POST" th:object="${appUser}" class="mx-auto px-3">
                <div class="mb-3 row">
                    <label for="username" class="col-12 col-form-label">Nombre Usuario</label>
                    <div class="col-12">
                        <input class="form-control" type="text" id="username" name="username" placeholder="Ingrese su nombre de usuario" th:field="*{username}" required>
                        <span class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error en el nombre de usuario</span>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="password" class="col-12 col-form-label">Contraseña</label>
                    <div class="col-12">
                        <input class="form-control" type="password" id="password" name="password" placeholder="Asigne su contraseña" th:field="*{password}" required>
                        <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error en la contraseña</span>
                    </div>
                </div>
                <div class="mb-5 row">
                    <label for="no account label" class="text-center col-form-label">Ya tienes cuenta? <a th:href="@{/login}">Ingresa</a></label>
                </div>
                <div class="d-block text-center">
                    <input class="btn btn-success" type="submit" value="Registrarse">
                </div>
            </form>
        </div>
    </div>
    <footer th:replace="fragments/basic :: footer"></footer>
</body>
</html>